.titleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;;
    background-color: #2196F3;
    width: fill;
    height: 9em;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
}

html,body{
   overflow:visible;
   }

.material-icons{
  float: center;
}

.mainContent{
  display: flex;
  flex: 1;
  flex-direction: column;
}


.dateRange{
    color: white;
    opacity: .87;
    font-size: 2.5em;
}

.scheduleViewButtons{
  color: white;
  background-color: transparent;
  border-color: transparent;
  opacity: .87;
  cursor: pointer;
  margin-left: 2em;
  margin-right: 2em;
}


.scheduleButtons {
    background-color: transparent;
    border-color: transparent;
    color: white;
    opacity: .87;
    cursor: pointer;
}

.monthRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.datePaginator{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.viewSelectorButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.monthDaybox{
  background-color: white;
  border-color: black;
  border-width: thin;
  border-style: solid;
  min-height: 4em;
  height: 10em;
  flex: 1;
}

.selectedMonthDaybox{
  background-color: rgba(39,137,228,.06);
  color: #2789e4;
  box-shadow: inset 0 0 0 1px #2789e4;
  border-width: thin;
  border-style: solid;
  min-height: 4em;
  height: 10em;
  flex: 1;
}

.greyedMonthDaybox{
  color: grey;
  background-color: lightgrey;
  border-color: grey;
  border-width: thin;
  border-style: solid;
  height: 10em;
  flex: 1;
}

.monthDaysHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.monthGrid{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hourBox{
  width: 5em;
  height: 3.3em;
  color: grey;
  background-color: transparent;
  border-color: black;
  border-width: thin;
  border-style: solid;
}

.hourBoxContent{
  width: 200em;
  height: 3.3em;
  background-color: transparent;
  border-color: black;
  border-width: thin;
  border-style: solid;
}

.dayview{
  display: flex;
  flex-direction: column;
}

.daygrid{
  display: flex;
  flex-direction: row;
}
