.titleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;;
    background-color: #2196F3;
    width: fill;
    height: 7em;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
}


.material-icons{
  float: center;
}

.mainContent{
  display: flex;
  flex: 1;
  flex-direction: column;
}


.dateRange{
    color: white;
    opacity: .87;
    font-size: 2.5em;
}

.scheduleViewButtons{
  color: white;
  background-color: transparent;
  border-color: transparent;
  opacity: .87;
  cursor: pointer;
  margin-left: 2em;
  margin-right: 2em;
}


.scheduleButtons {
    background-color: transparent;
    border-color: transparent;
    color: white;
    opacity: .87;
    cursor: pointer;
}

.monthRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.datePaginator{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.viewSelectorButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.monthDaybox{
  background-color: white;
  border-color: grey;
  border-width: thin;
  border-style: solid;
  min-height: 4em;
  height: 10em;
  flex: 1;
}

.selectedMonthDaybox{
  background-color: rgba(39,137,228,.06);
  color: #2789e4;
  box-shadow: inset 0 0 0 1px #2789e4;
  border-width: thin;
  border-style: solid;
  min-height: 4em;
  height: 10em;
  flex: 1;
}

.greyedMonthDaybox{
  color: grey;
  background-color: lightgrey;
  border-color: grey;
  border-width: thin;
  border-style: solid;
  height: 10em;
  flex: 1;
}

.monthDaysHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1em;
}



.monthGrid{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hourBox{
  width: 5em;
  height: 3.3em;
  color: grey;
  background-color: transparent;
  border-color: grey;
  border-width: thin;
  border-style: solid;
}

.hourBoxContent{
  flex: 1 auto;
  height: 1.1em;
  background-color: transparent;
  border-color: lightgrey;
  border-width: thin;
  border-style: solid;
  border-top-color: lightgrey;
  border-top-style: dashed;
}

.dayview{
  display: flex;
  flex-direction: column;
}

.daygrid{
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.weekGrid{
  display: flex;
  justify-content: flex-start;
  flex: 1;
  flex-direction: column;
}

.weekCol{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.weekContent{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.monthBoxContent{
  display: flex;
  flex-direction: column;

}

.eventButton{
  display: flex;
  justify-content: space-between;
  opacity: .67;
  text-align: left;
  outline: 0;
  border-style: none;
  background-color: lightgreen;
  color: darkgreen;
  margin-top: .3em;
}

.weekHeader{
  background-color: white;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.3em;
  padding-left: 3.3em;

}

.weekFloater{
  border-width: medium;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
}

.weekView{
  display: flex;
}

.popoverTime{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 2em;
  margin-bottom: 1em;
}

.abee{
  height: 3.3em;
  margin-left: 5em;
  display: flex;
  flex: 1;
}

.abcdefg{
  display: flex;
  flex: 1;
  border-style: solid;
  border-color: lightgrey;
  border-width: thin;
}

#coursesPortlet-month-popover-time{
  margin-right: .5em;
}
